{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Mot de pass oublié{% endblock %}

{% block body %}
    <video autoplay muted loop class="myVideo">
        <source src="{{ asset('assets/vid/login-black.mp4') }}" type="video/mp4">
    </video>

    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="request-content">
    <h1>Mot de pass oublié</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adress email et on enverra un lien pour choisir un nouveau mot de passe
            </small>
        </div>

        <button class="button">Envoyer email</button>
    {{ form_end(requestForm) }}</div>
{% endblock %}