{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mot de pass oublié{% endblock %}

{% block body %}

    <video autoplay muted loop class="myVideo">
        <source src="{{ asset('assets/vid/login-black.mp4') }}" type="video/mp4">
    </video>
    <div class="request-content">
    <h1>Mot de pass oublié</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="button">Mot de pass oublié</button>
    {{ form_end(resetForm) }}</div>
{% endblock %}
