{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/meetings.css') }}">
    <h2>Create a meeting</h2>
    <div class="show-for-small-only"><h3>Vous ne pouvez pas créer de sorties sur mobile. Veuillez utiliser une table ou
            un ordinateur pour ces opérations</h3></div>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center  hide-for-small-only">
            <div class="cell medium-0">  {{ form_start(meetingForm) }}</div>
            <div class="cell medium-4">   {{ form_row(meetingForm.name) }} </div>
            <div class="cell medium-4">   {{ form_row(meetingForm.maxParticipants) }} </div>
            <div class="cell medium-4">   {{ form_row(meetingForm.length) }} </div>
            <div class="cell medium-5">   {{ form_row(meetingForm.timeStarting) }} </div>
            <div class="cell medium-5">   {{ form_row(meetingForm.registerUntil) }} </div>
            <div class="cell medium-4">   {{ form_row(meetingForm.place) }} </div>
            <div class="cell medium-4">   {{ form_row(meetingForm.information) }} </div>
            {# {{ form_widget(meetingForm) }} #}
            <button class="button" type="submit">Create !</button>
            {{ form_end(meetingForm) }}
        </div>

    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | Create a meeting

{% endblock %}

