{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Annuler une sortie
 {% endblock %}

{% block body %}

        <div class="grid-x app-cancel-page">
            <div class="cell small-8">

    <link rel="stylesheet" href="{{ asset('assets/css/cancel.css') }}">
    {{ form_start(form) }}
    {{ form_row(form.explanation) }}
    <button class="button danger" type="submit">Annuler cette sortie</button>
    {{ form_end(form) }}
            </div>
    </div>
{% endblock %}

