{% extends 'base.html.twig' %}

{% block title %}{{  parent() }} | Liste des sorties{% endblock %}


{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/meetings.css') }}">
    {% if app.request.cookies.has('theme')%}
        {% set test = app.request.cookies.get('theme') %}
        {% if test == 2 %}
            <link rel="stylesheet" href="{{ asset('assets/css/dark-meetings.css') }}">
        {% elseif test == 3 %}
            <link rel="stylesheet" href="{{ asset('assets/css/lime-meetings.css') }}">
        {% elseif test == 4 %}
            <link rel="stylesheet" href="{{ asset('assets/css/red-meetings.css') }}">
        {% endif %}
    {% endif %}
    {% set i = 1 %}
    {% set j = 1 %}

    <div class="grid-container fluid app-meeting-list">
        <div class="grid-x grid-margin-x">

            <fieldset class="cell small-12 medium-3 filter-box">
                {% include 'meeting/filter.html.twig' with {form: form} only %}
            </fieldset>
            {% include 'meeting/detail.html.twig' %}

            {% include 'meeting/full-list.html.twig' %}

        </div>
    </div>
{% endblock %}

