{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter une ville{% endblock %}

{% block body %}
    <style>
        .required{
            color: white;
        }
    </style>

    <link rel="stylesheet" href="{{ asset('assets/css/profile.css')}}">

    <video autoplay muted loop class="myVideo">
        <source src="{{ asset('assets/vid/city.mp4') }}" type="video/mp4">
    </video>
    {{ form_start(cityForm) }}


    <div class="grid-container app-modify-profile-box app-add-place">
        <div class="grid-x grid-padding-x align-center box-inner">
            <h2 class="cell small-12">Ajouter une ville</h2>
            <div class="cell small-6">
                {{ form_row(cityForm.name, { 'attr' : {'class':'testblanc'}}) }}
            </div>
            <div class="cell small-12">
                {{ form_row(cityForm.postcode) }}
                {{ form_rest(cityForm) }}
                <button class="button" type="submit">Ajouter !</button>
            </div>

            {{ form_end(cityForm) }}
        </div>
    </div>

{% endblock %}
